@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
*{
    border: 1px solid red;
    font-family: "Roboto Condensed", sans-serif;
}

:root {
    --dashboard-color: #3dccc7;
    --white-color: #ffffff;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #e2e8f0;
}

/**** HEADER STYLES ****/

.profile_header {
    grid-column: 2 / -1;
    grid-row: 1 /2
}

/**** DASHBOARD STYLES ****/

.dashboard {
    grid-column: 1/ 2;
    grid-row: 1 / -1;
    background-color: var(--dashboard-color);
}

nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 25px;
}

#dash_main {
   grid-row: span 3;
}

#dash_main > .menu_title{
    font-size: 2rem;
    margin: 0;
}

#dash_main > .nav_icon{
    height: 2.5em;
    grid-column: 2 / 3;
}

.link {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-decoration: none;
    justify-items: start;
    align-items: center;
    
}

.nav_icon{
    height: 1.3em;
    grid-column: 2 /3;
}

.menu_title {
    color: var(--white-color);
    grid-column: 3 / -1;
    font-size: 1.2rem;
    margin: 0;

}

.main_content {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.projects {
  grid-column: 1/ 3;
  grid-row: 1 / -1;
}

/* projects section start */

.projects-title {
  padding-left: 20px;
  padding-top: 30px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 20px;
  gap: 30px;
}

.project {
  border-radius: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: grid;
  background-color: white;
  box-shadow: 5px 5px 10px #ccd1d8;
}

.project span {
  grid-column: 1;
  background-color: orange;
  width: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.project-content {
  display: grid;
  grid-column: 2;
  padding: 10px;
}

.project-header {
  grid-column: 1/3;
  grid-row: 1;
}

.project-text {
  grid-column: 1/3;
  grid-row: 2;
}

.icons {
  display: inline-grid;
  gap: 20px;
  grid-column: 2/3;
  grid-row: 3;
}

.star-icon {
  grid-column: 1;
  grid-row: 1;
}

.eye-icon {
  grid-column: 2;
  grid-row: 1;
}

.share-icon {
  grid-column: 3;
  grid-row: 1;
}

/* projects section end */

/* announcements section start */

/* announcements section end */
